body.no-sidebar .iq-top-navbar {
    margin-left: 0 !important;
    width: 100% !important;
}

body.no-sidebar .content-page {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

body.no-sidebar .iq-footer {
    margin-left: 0 !important;
    width: 100% !important;
}

.invalid-feedback {
    margin-bottom: -20px !important;
}

.divider {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 1.5rem 0;
}

.divider-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
  
.divider-text span {
    padding: 0 10px;
    font-weight: 500;
    color: #555;
    position: relative;
}
  
.divider-text::before,
.divider-text::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}
  


.border-radius-5 {
    border-radius: 5px !important;
}
.border-radius-10 {
    border-radius: 10px !important;
}

.border-radius-top-left-5 {
    border-top-left-radius: 5px !important;
}

.border-radius-top-right-5 {
    border-top-right-radius: 5px !important;
}

.border-radius-bottom-right-5 {
    border-bottom-right-radius: 5px !important;
}

.border-radius-bottom-left-5 {
    border-bottom-left-radius: 5px !important;
}

.max-height-40 {
    max-height: 40px;
}



.nav-tabs-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

.nav-tabs-scroll::-webkit-scrollbar {
    height: 6px;
}

.nav-tabs-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


        
.limited-text {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* tampilkan hanya 3 baris */
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
    max-width: 100%;
}

.limited-text.expanded {
    -webkit-line-clamp: unset;
    overflow: visible;
}
